<p>diretiva-ngclass works!</p>
<br>

<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="bi bi-archive" (click)="onClick()"
    [class.bi-archive-fill]="!meuFavorito"
    [class.bi-archive]="meuFavorito">
    </i>
    &nbsp;
    <i class="bi bi-archive" (click)="onClick()"
    [class.bi-archive-fill]="!meuFavorito"
    [class.bi-archive]="meuFavorito">
    </i>
    &nbsp;
    <i class="bi bi-archive" (click)="onClick()"
    [class.bi-archive-fill]="!meuFavorito"
    [class.bi-archive]="meuFavorito">
    </i>

    &nbsp; &nbsp; &nbsp; &nbsp;
    <i class="bi bi-archive" (click)="onClick()"
    [class.bi-archive-fill]="!meuFavorito"
    [class.bi-archive]="meuFavorito">
    </i>
</h1>



<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="bi bi-archive" (click)="onClick()"
[ngClass]="{'bi-archive-fill': !meuFavorito,
            'bi-archive': meuFavorito
}">
    </i>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="bi bi-archive" (click)="onClick()"
    [ngClass]="{'bi-archive-fill': !meuFavorito,
                'bi-archive': meuFavorito
    }">
        </i>
</h1>



<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="bi bi-archive" (click)="onClick()"
[ngClass]="{'bi-archive-fill': !meuFavorito,
            'bi-archive': meuFavorito
}">
    </i>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="bi bi-archive" (click)="onClick()"
    [ngClass]="{'bi-archive-fill': !meuFavorito,
                'bi-archive': meuFavorito
    }">
        </i>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="bi bi-archive" (click)="onClick()"
        [ngClass]="{'bi-archive-fill': !meuFavorito,
                    'bi-archive': meuFavorito
        }">
            </i>    
</h1>



<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="bi bi-archive" (click)="onClick()"
    [class.bi-archive-fill]="!meuFavorito"
    [class.bi-archive]="meuFavorito">
    </i>
    &nbsp;
    <i class="bi bi-archive" (click)="onClick()"
    [class.bi-archive-fill]="!meuFavorito"
    [class.bi-archive]="meuFavorito">
    </i>
    &nbsp;
    <i class="bi bi-archive" (click)="onClick()"
    [class.bi-archive-fill]="!meuFavorito"
    [class.bi-archive]="meuFavorito">
    </i>

   
    &nbsp; &nbsp; &nbsp; &nbsp;
    <i class="bi bi-archive" (click)="onClick()"
    [class.bi-archive-fill]="!meuFavorito"
    [class.bi-archive]="meuFavorito">
    </i>
</h1>